@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-light);
}

.input {
  width: 100%;
  font-size: 1.5rem;
  color: var(--grey-light);
  background: transparent;
  border: 1px solid var(--grey-light);
  border-radius: 16px;
  padding: 18px;
  transition: 0.2s all;

  &:focus {
    color: var(--white);
    background: #ffffff0d;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.input-success {
  border-color: var(--success);
}

.input-error {
  border-color: var(--danger);
  animation-name: headShake;
  animation-duration: 0.8s;
}

.validation {
  font-size: 16px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.validation-success {
  color: var(--success);
}

.validation-error {
  color: var(--danger);
}

.validation-icon {
  margin-right: 4px;
}
