.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper {
  width: 100%;
  display:flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-light);
}

.input {
  width: 100%;
  font-size: 1.5rem;
  color: var(--grey-light);
  background: transparent;
  border: 1px solid var(--grey-light);
  border-radius: 16px;
  padding: 18px;
  transition: 0.2s all;

  &:focus {
    color: var(--white);
    background: #ffffff0d;
  }

  &:disabled {
    opacity: .5;
  }
}

.input-success {
  border-color: var(--success)
}

.input-error {
  border-color: var(--danger)
}

.validation {
  font-size: 16px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.validation-success {
  color: var(--success);
}

.validation-error {
  color: var(--danger);
}

.validation-icon {
  margin-right: 4px;
}
