<div class="field">
  <div class="input-wrapper">
    <app-icon *ngIf="icon" name="{{ icon }}" size="32px"></app-icon>
    <input
      name="{{ name }}"
      attr.aria-label="{{ label }}"
      id="{{ id }}"
      value="{{ value }}"
      [required]="requiredBoolean"
      [disabled]="disabledBoolean"
      placeholder="{{ placeholder }}"
      type="{{ type }}"
      class="input input-{{ variant }}"
      (change)="valueChange($event)"
    />
  </div>
  <div
    *ngIf="validationText"
    class="validation validation-{{ validationType }}"
    [ngStyle]="{ 'margin-left': icon ? '48px' : '0' }"
  >
    <div class="validation-icon">
      <app-icon name="{{ validationIcon }}" size="24px"></app-icon>
    </div>
    {{ validationText }}
  </div>
</div>
