.field {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  font-size: 1.5rem;
  color: var(--grey-light);
  background: transparent;
  border: 1px solid var(--grey-light);
  border-radius: 16px;
  padding: 22px;
  transition: 0.2s all;

  &:focus {
    color: var(--white);
    background: #ffffff0d;
  }
}

.validation {
  font-size: 16px;
  padding: 0 8px;
}

.validation-success {
  color: var(--success);
}

.validation-error {
  color: var(--danger);
}

.validation-icon {
  margin-right: 4px;
}
